<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>MBaseLang</string>
    <key>uuid</key>
    <string>fa12b4aa-4f3e-11ee-b7df-0242ac120002</string>
    <key>description</key>
    <string>TextMate grammar for MBaseLang</string>
</dict>
</plist>
